.fr-box {
   // body
   .fr-wrapper {
      border-radius: 0 !important;
      border: none !important;
      border-left: 1px solid #e9ecef !important;
      border-right: 1px solid #e9ecef !important;
      margin: 0 !important;
      height: 259px;
   }
   // the toolbar duh lol
   .fr-toolbar {
      border-color: #efefef;
      // button spacing on toolbar
      .fr-float-left {
         margin: 0 !important;
      }

      // line separators between buttons
      .fr-float-left > button:before {
         content: '';
         position: absolute;
         right: 0;
         top: 19%;
         height: 61%;
         width: 1px;
         background-color: #e9ecef;
      }

      // this is so we can style the buttons
      .fr-btn-grp > button {
         display: flex !important;
         justify-content: center !important;
         align-items: center !important;
         height: 52px;
         margin: 0px;
         padding: 0px 15px !important;
      }

      // styles the smart field buttons
      .fr-dropdown {
         padding: 0px 10px !important;
         span {
            padding: 0 !important;
            margin: 0 !important;
            margin-right: 5px !important;
         }
      }

      // this is for the dropdown menu to work w/ smartfields
      .fr-more-toolbar .fr-dropdown-menu {
         bottom: 100px !important;
      }

      // this is so that there isnt space when we open the smart fields
      .fr-newline {
         padding: 0px !important;
      }

      // same as above but so our style is the same
      .fr-open {
         margin-bottom: 0 !important;
      }
   }
}

// replace for tooltip override
#smart-tooltip {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 11px;
}
